/* stili generali della pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

button{
    padding: 13px 15px;
    border-radius: 30px;
    border: none;
}

button:hover{
    cursor: pointer;
}

/* stili header */

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.menu{
    padding: 10px;
}

nav{
    width: 65%;
    display: flex;
    align-items: center;
}

.logo{
    width: 25%;
    display: flex;
    justify-content: left;
}

.login{
    width: 25%;
    display: flex;
    justify-content: right;
}

#riferimenti{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#riferimenti a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.content{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 50px;
}

.content h1{
    color: white;
    font-size: 55px;
    padding: 40px 0;
}

.content p{
    color: white;
    font-size: 22px;
    padding-bottom: 20px;
    line-height: 1.4;
}

.content button{
    font-size: 20px;
    padding: 16px 32px;
}

#button-up button:last-child{
    margin-left: 20px;
    color: white;
    background-color: #22272b;
}

/* stili contenuto centrale */

.card{
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 80px 0;
}

.big{
    width: 70%;
}

.small{
    width: 30%;
}

.small h1{
    font-size: 50px;
    padding-bottom: 25px;
    margin-top: 25px;
}

.small p{
    font-size: 20px;
}

.order{
    order: -1;
}

.color{
    background-color: rgb(243, 243, 243);
}

#big-card{
    width: 65%;
    min-height: 600px;
    background-color: green;
}

/* stili footer */

footer{
    background-color: rgb(23, 23, 23);
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    border-top: 1px solid white;
}

.row{
    width: 65%;
    min-height: 450px;
    background-color: red;
    display: flex;
 }

 .column{
    width: 16.25%;
    min-height: 420px;
    background-color: rgb(0, 194, 194);
    border: 1px solid white;
 }

 .column-big{
    width: 35%;
    min-height: 420px;
 }

 .last{
    width: 65%;
    min-height: 60px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }